* {
  margin: 0;
  padding: 0;
}
#box {
  width: 4.66666667rem;
  height: 1.33333333rem;
  background: red;
}
#box {
  width: 350px;
  height: 100px;
  background: red;
}
@media all and (max-width: 750px) {
  #box {
    width: 100px;
    height: 100px;
    background: blue;
  }
}
