<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- <h1>{{name}}</h1> -->
        <input type="text" placeholder="姓名" v-model='name'>
        <input type="number" placeholder="年龄" v-model='age'>
        <button @click='submit'>提交</button>
        <man :list='manList' @change='delFn'></man> 
        <boy :list='boyList' @change='delFn'></boy>
        
    </div>
</body>
</html>
<template id='man'>
    <div style='float: left;'>
        <h2>成年人列表</h2>
        <ul>
            <li v-for='item in list' :key='item.id'>姓名{{item.name}}；年龄{{item.age}} <button @click='del(item)'>X</button></li>
        </ul>
    </div>
</template>
<template id='boy'>
    <div style='float: right;'>
        <h2>未成年人列表</h2>
        <ul>
            <li v-for='item in list' :key='item.id'>姓名{{item.name}}；年龄{{item.age}} <button @click='del(item)'>X</button></li>
        </ul>
    </div>
</template>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    let man = {
        template:'#man',
        props:['list'],
        methods: {
            del(item){
                this.$emit('change',item)
            }
        },
    }
    let boy = {
        template:'#boy',
        props:['list'],
        methods: {
            del(item){
                this.$emit('change',item)
            }
        },
    }
    let vm = new Vue({
        el:'#app',
        data:{
            name:"珠峰",
            age:10,
            ary:[]
        },
        components:{
            man,boy
        },
        computed: {
            manList(){
                return this.ary.filter(item=>item.age>=18)
            },
            boyList(){
                return this.ary.filter(item=>item.age<18)
            }
        },
        methods: {
            submit(){
                let obj = {
                    name:this.name,
                    age:this.age,
                    id:Math.random()
                }
                this.ary.unshift(obj)
                this.name = '',
                this.age = ''
            },
            delFn(item){
                this.ary = this.ary.filter(it=>it.id!==item.id)
            }
        },
    });
</script>