*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: #eee;
}
#box{
    width: 1244px;
    margin: auto;
}
img{
    width: 100%;
    height: 100%;
}
#box .head{
    overflow: hidden;

}
#box .head li{
    float: left;
    width: 236px;
    height: 126px;
    margin: 0 16px 16px 0;
}
#box .head li:nth-child(5){
    margin-right: 0;
}

.box{
    overflow: visible;
}
.box li{
    float: left;
    width: 236px;
    margin: 0 16px 16px 0;
}
.box li:nth-child(5){
    margin-right: 0;
}
.pic_box{
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 16px;
    transition: all 0.5s;
}
.pic_box:hover{
    transform: translateY(-5px);
    box-shadow: 0px 7px 11px 6px #ccc;
}
.pic_box .desc{
    font-size: 14px;
    padding: 10px;
    color: #ccc;
    border-bottom:1px solid #F2F2F2;
}
.pic_box .author{
    text-align: center;
    color: #333;
    padding: 10px;
    font-size: 14px;
}