@font-face {
  font-family: SinaHomeFont;
  src: url(../../static/fonts/SinaHomeFont.7fcdfd2c.ttf) format("truetype"), url(../../static/fonts/SinaHomeFont.170a1efa.woff) format("woff"), url(../../static/img/SinaHomeFont.c078d582.svg#SinaHomeFont) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
.icon_add:before {
  content: "\E900";
}
.icon_add_b:before {
  content: "\E901";
}
.icon_adown:before {
  content: "\E902";
}
.icon_b_delete:before {
  content: "\E903";
}
.icon_b_video:before {
  content: "\E904";
}
.icon_back_1:before {
  content: "\E905";
}
.icon_back_b:before {
  content: "\E906";
}
.icon_camera:before {
  content: "\E907";
}
.icon_check:before {
  content: "\E908";
}
.icon_close:before {
  content: "\E909";
}
.icon_collect:before {
  content: "\E90A";
}
.icon_collected:before {
  content: "\E90B";
}
.icon_colse:before {
  content: "\E90C";
}
.icon_com:before {
  content: "\E90D";
}
.icon_com_b:before {
  content: "\E90E";
}
.icon_comment_launch_ico:before {
  content: "\E90F";
}
.icon_download:before {
  content: "\E910";
}
.icon_download_1:before {
  content: "\E911";
}
.icon_edit:before {
  content: "\E912";
}
.icon_enter:before {
  content: "\E913";
}
.icon_exclamation:before {
  content: "\E914";
}
.icon_feed_ico_comment_gray:before {
  content: "\E915";
}
.icon_fire:before {
  content: "\E916";
}
.icon_headportrait:before {
  content: "\E917";
}
.icon_home:before {
  content: "\E918";
}
.icon_img_g:before {
  content: "\E919";
}
.icon_interest:before {
  content: "\E91A";
}
.icon_lg:before {
  content: "\E91B";
}
.icon_live:before {
  content: "\E91C";
}
.icon_loading:before {
  content: "\E91D";
}
.icon_location:before {
  content: "\E91E";
}
.icon_logo_m:before {
  content: "\E91F";
}
.icon_more:before {
  content: "\E920";
}
.icon_navigation:before {
  content: "\E921";
}
.icon_packup:before {
  content: "\E922";
}
.icon_page_check:before {
  content: "\E923";
}
.icon_page_checked:before {
  content: "\E924";
}
.icon_page_spread:before {
  content: "\E925";
}
.icon_page_unchecked:before {
  content: "\E926";
}
.icon_pictures:before {
  content: "\E927";
}
.icon_play:before {
  content: "\E928";
}
.icon_police:before {
  content: "\E929";
}
.icon_praise:before {
  content: "\E92A";
}
.icon_push:before {
  content: "\E92B";
}
.icon_refresh_fl:before {
  content: "\E92C";
}
.icon_return:before {
  content: "\E92D";
}
.icon_s_video:before {
  content: "\E92E";
}
.icon_same:before {
  content: "\E92F";
}
.icon_search:before {
  content: "\E930";
}
.icon_search_44:before {
  content: "\E931";
}
.icon_set:before {
  content: "\E932";
}
.icon_share2:before {
  content: "\E933";
}
.icon_skin:before {
  content: "\E934";
}
.icon_sort:before {
  content: "\E935";
}
.icon_tag_pic_ico:before {
  content: "\E936";
}
.icon_telephone:before {
  content: "\E937";
}
.icon_tick:before {
  content: "\E938";
}
.icon_time:before {
  content: "\E939";
}
.icon_top_1:before {
  content: "\E93A";
}
.icon_user:before {
  content: "\E93B";
}
.icon_view:before {
  content: "\E93C";
}
.icon_app:before {
  content: "\E93D";
}
.icon_index:before {
  content: "\E93E";
}
.icon_listen:before {
  content: "\E93F";
}
.icon_top:before {
  content: "\E940";
}
