/* 
    less    1、嵌套写法
            2、可以书写变量
            3、混合
            4、函数
            5、循环

*/
.box_1 {
  width: 10px;
}
.box_2 {
  width: 20px;
}
.box_3 {
  width: 30px;
}
.box_4 {
  width: 40px;
}
.box_5 {
  width: 50px;
}
.box_6 {
  width: 60px;
}
.box_7 {
  width: 70px;
}
.box_8 {
  width: 80px;
}
.box_9 {
  width: 90px;
}
.list-10 {
  width: 10px;
}
.list-20 {
  width: 20px;
}
.list-30 {
  width: 30px;
}
.list-40 {
  width: 40px;
}
.list-50 {
  width: 50px;
}
.list-60 {
  width: 60px;
}
.list-70 {
  width: 70px;
}
.list-80 {
  width: 80px;
}
.list-90 {
  width: 90px;
}
.list-100 {
  width: 100px;
}
.list-110 {
  width: 110px;
}
.list-120 {
  width: 120px;
}
.list-130 {
  width: 130px;
}
.list-140 {
  width: 140px;
}
.list-150 {
  width: 150px;
}
.list-160 {
  width: 160px;
}
.list-170 {
  width: 170px;
}
.list-180 {
  width: 180px;
}
.list-190 {
  width: 190px;
}
.list-200 {
  width: 200px;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
@keyframes move {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
.lt {
  float: left;
}
.rt {
  float: right;
}
.w,
span {
  width: 200px;
  height: 300px;
  overflow: hidden;
}
.w .qqq {
  background: red;
}
div {
  width: 200px;
  height: 300px;
  overflow: hidden;
}
div .qqq {
  background: red;
}
#box {
  width: 300px;
  height: 300px;
  margin: 150px auto;
  position: relative;
  perspective: 2000px;
  background: url('../img/1.jpg');
}
#box:hover {
  background: red;
}
#box ul {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateY(30deg);
  animation: move 2s infinite linear;
  transform-origin: 150px 150px 150px;
}
#box ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
  background: rgba(102, 212, 216, 0.6);
  border: 1px dashed salmon;
  box-sizing: border-box;
}
#box ul li:nth-child(2) {
  background: rgba(139, 148, 233, 0.6);
  transform: rotateX(-90deg);
  transform-origin: bottom;
}
#box ul li:nth-child(3) {
  background: rgba(170, 96, 219, 0.6);
  transform: rotateY(90deg);
  transform-origin: right;
}
#box ul li:nth-child(4) {
  background: rgba(205, 236, 89, 0.6);
  transform: rotateY(-90deg);
  transform-origin: left;
}
#box ul li:nth-child(5) {
  background: rgba(159, 219, 153, 0.6);
  transform: rotateX(90deg);
  transform-origin: top;
}
#box ul li:nth-child(6) {
  background: rgba(233, 171, 91, 0.6);
  transform: translateZ(300px);
}
